In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("electricity_cost_dataset.csv")
df.head()

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost
0,1360,Mixed-use,2519.0,69,52,188,1,72,1420.0
1,4272,Mixed-use,2324.0,50,76,165,65,261,3298.0
2,3592,Mixed-use,2701.0,20,94,198,39,117,3115.0
3,966,Residential,1000.0,13,60,74,3,35,1575.0
4,4926,Residential,5990.0,23,65,32,57,185,4301.0

In [4]:
df['electricity cost per resident'] = df['electricity cost'] / df['resident count']
df['electricity cost per resident'] = np.round(df['electricity cost per resident'], 3)
df.head()

,site area,structure type,water consumption,recycling rate,utilisation rate,air qality index,issue reolution time,resident count,electricity cost,electricity cost per resident
0,1360,Mixed-use,2519.0,69,52,188,1,72,1420.0,19.722
1,4272,Mixed-use,2324.0,50,76,165,65,261,3298.0,12.636
2,3592,Mixed-use,2701.0,20,94,198,39,117,3115.0,26.624
3,966,Residential,1000.0,13,60,74,3,35,1575.0,45.000
4,4926,Residential,5990.0,23,65,32,57,185,4301.0,23.249

In [7]:
df['water consumption per resident'] = df['water consumption'] / df['resident count']
df['water consumption per resident'] = np.round(df['water consumption per resident'], 3)

In [8]:
df['recycling efficency rate'] = df['recycling rate'] * df['utilisation rate']
df['recycling efficency rate'] = np.round(df['recycling efficency rate'], 3)

In [9]:
df['resource intensity'] = (df['water consumption'] + df['electricty cost']) / df['residnet count']
df['resource intensity'] = np.round(df['resource intensity'], 3)

KeyError: 'electricty cost'

In [ ]:
df['resolution_efficiency'] = df['issue reolution time'] / df['resident count']
df['resolution_efficiency'] = np.round(df['resolution_efficiency'], 3)

In [ ]:
df.info()